<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACI_Cron.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACI_Cron.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ACI_Cron.My.MySettings.LocalConString" connectionString="Data Source=ResearchX\SPECTDATA2012;Initial Catalog=Spect_Data;Integrated Security=True" />
        <add name="ACI_Cron.My.MySettings.MarketingConString" connectionString="Data Source=ResearchX\Marketing;Initial Catalog=MarketResearch;Integrated Security=True" />
        <add name="ACI_Cron.My.MySettings.MySQLInquiryConString" connectionString="Server=142.4.9.234;Database=amenclin_aci;Uid=amenclin_admin;Pwd=Lakers1;Use Procedure Bodies=false;" />
        <add name="ACI_Cron.My.MySettings.ResearchConString" connectionString="Data Source=ResearchX\Research;Initial Catalog=ImportData;Integrated Security=True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ACI_Cron.My.MySettings>
            <setting name="RecentJpegTransfer" serializeAs="String">
                <value>04/14/2013 11:38:00</value>
            </setting>
            <setting name="RecentSpectTransfer" serializeAs="String">
                <value>04/14/2013 20:17:00</value>
            </setting>
            <setting name="RecentOnlineInquiryTransfer" serializeAs="String">
                <value>04/14/2013 11:38:00</value>
            </setting>
            <setting name="JpegTransferStatusList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SpectTransferStatusList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="IFileTransferStatusList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="OnlineInquiryStatusList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="NextIFileNumber" serializeAs="String">
                <value>95724</value>
            </setting>
            <setting name="TSTDirectory" serializeAs="String">
                <value>\\10.1.1.23\The_Vault\NIC\Programme</value>
            </setting>
            <setting name="RecentIFileTransfer" serializeAs="String">
                <value>04/14/2013 11:38:00</value>
            </setting>
            <setting name="MySQLIntakeConString" serializeAs="String">
                <value>Server=192.185.47.174;Database=ab77527_intakes;Uid=ab77527_admin;Pwd=Amen123</value>
            </setting>
            <setting name="ReadingImportStatusList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RecentReadingsTransfer" serializeAs="String">
                <value>04/14/2013 11:38:00</value>
            </setting>
            <setting name="JpegWatcher" serializeAs="String">
                <value>02/26/2014 13:06:00</value>
            </setting>
            <setting name="SpectWatcher" serializeAs="String">
                <value>02/26/2014 13:06:00</value>
            </setting>
            <setting name="DirectoryScannerLocation" serializeAs="String">
                <value>C:\Users\apickles\AppData\Local\Apps\2.0\WH83XT8L.W6Q\ZWOWQ180.RHO\dire..tion_9d3cf6c3413069c2_0001.0000_0e03bbbc511545c0\DirectoryScanner</value>
            </setting>
            <setting name="SpectTransferSourceListReadyFile" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>192.168.0.25</string>
                        <string>192.168.0.20</string>
                        <string>192.168.2.5</string>
                        <string>192.168.2.7</string>
                        <string>192.168.1.5</string>
                        <string>192.168.10.2</string>
                        <string>192.168.11.2</string>
                        <string>192.168.3.5</string>
                        <string>192.168.10.3</string>
                        <string>192.168.1.6</string>
                        <string>192.168.3.4</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SpectTransferSourceListFTP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>192.168.0.25/img9</string>
                        <string>192.168.0.20/img4</string>
                        <string>192.168.2.5/img33</string>
                        <string>192.168.2.7/img36</string>
                        <string>192.168.1.5/img0</string>
                        <string>192.168.1.5/img6</string>
                        <string>192.168.1.6/img12</string>
                        <string>192.168.1.6/img11</string>
                        <string>192.168.10.2/img21</string>
                        <string>192.168.10.3/img22</string>
                        <string>192.168.11.2/img25</string>
                        <string>192.168.3.5/img41</string>
                        <string>192.168.3.5/img42</string>
                        <string>192.168.3.4/img40</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FloodsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Flood Quality Images</string>
                        <string>Weekly Bars</string>
                        <string>flood head three^111</string>
                        <string>flood head two^11121</string>
                        <string>flood head one^11121</string>
                        <string>flood^111212</string>
                        <string>FLOODS</string>
                        <string>Sensitivity Floods</string>
                        <string>Flood LEUHR</string>
                        <string>Flood Map Files</string>
                        <string>Flood Head 3</string>
                        <string>Flood Head 2</string>
                        <string>FLOOD TEST</string>
                        <string>intrinsic flood</string>
                        <string>Bar Phantom</string>
                        <string>BAR CAM 1</string>
                        <string>Bars</string>
                        <string>Bars CAM1</string>
                        <string>Bars CAM 1</string>
                        <string>Weekly Bars</string>
                        <string>WEEKLY BARS</string>
                        <string>000-00-0000-1</string>
                        <string>Uniformity</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ACI_Cron.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ACI_Cron.My.MySettings>
            <setting name="OdysseyUN" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="OdysseyPW" serializeAs="String">
                <value>POIaxp</value>
            </setting>
            <setting name="JpegTransferSrcDestList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>192.168.0.25/img9/prism/images/;\\ac2\data\Patient Archive\Newport</string>
                        <string>192.168.0.20/img4/prism/images/;\\ac2\data\Patient Archive\Newport</string>
                        <string>192.168.2.5/img33/prism/images/;\\ac2\data\Patient Archive\Bellevue</string>
                        <string>192.168.2.7/img36/prism/images/;\\ac2\data\Patient Archive\Bellevue</string>
                        <string>192.168.1.5/img6/Images/;\\ac2\data\Patient Archive\Fairfield</string>
                        <string>192.168.1.6/img12/prism/images/;\\ac2\data\Patient Archive\Fairfield</string>
                        <string>192.168.10.2/img21/prism/images/;\\ac2\data\Patient Archive\Atlanta</string>
                        <string>192.168.10.3/img22/prism/images/;\\ac2\data\Patient Archive\Atlanta</string>
                        <string>192.168.11.2/img25/prism/images/;\\ac2\data\Patient Archive\New York</string>
                        <string>192.168.3.4/img40/prism/images/;\\ac2\data\Patient Archive\Reston</string>
                        <string>192.168.3.5/img41/prism/images/;\\ac2\data\Patient Archive\Reston</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ACI_Cron.My.MySettings>
    </applicationSettings>
</configuration>